@font-face {
    font-family: Roboto;
     src: url("fonts/Roboto-Regular.ttf");
}

body {
    text-align: center;
    font-family: Roboto;
    display: block;
    background-image: url('lecture-hall.jpg');
    background-size: cover;
    color: white;
    height: 100%;
}

.body-parent {
    display: block;
    text-align: center;
}

.body-container {
    padding-top: 100px;
    text-align: center;
    color: white;
    display: inline-block;
}

@media only screen and (min-width: 1301px) {
    .body-container {
        width: 50vw;
    }

    #chat-box {
        width: 100%;
    }

    #chat-type {
        width: 82%;
    }

    #chat-div {
        width: 550px;
        height: 300px;
    }

    .responsive-br {
        display: none;
    }

    #users-list {
        height: 300px;
        width: 550px;
    }

    .video-child {
        max-width: 50vw;
    }
}

@media only screen and (max-width: 1300px) {
    .body-container {
        width: 90vw;
    }

    #chat-box {
        width: 100%;
    }

    #chat-type {
        width: 100%;
    }

    #chat-div {
        width: 90vw;
        height: 350px;
    }

    .responsive-br {
        display: initial;
    }

    #users-list {
        width: 90vw;
    }

    #my-video {
        max-width: 90vw;
    }
}

.video-parent {
    text-align: center;
    display: block;
}

.video-child {
    display: inline-block;
}

.leftalign {
    text-align: left;
}

h1, h3 {
    text-align: center;
}

a {
    color: white !important;
    text-decoration: underline !important;
}

a:hover {
    color: lightblue !important;
}

#users-list-child {
    padding: 10px;
    width: 100%;
}

#chat-box {
    padding: 10px;
    height: 75%;
}

.username-object {
    padding-left: 5px;
}

#old-links {
    display: none;
}

table, tr {
    display: flex;
    flex-wrap: wrap;
}