{% extends 'base.html' %}

{% block content %}
    <script>
        var myVideo, socket, userName;

        window.onbeforeunload = function() {
            socket.send({"type":"leave", "role":"host"});
        }

        function startSession() {
            socket = io.connect('localhost:5000');
            userName = document.getElementById("your_name").value;

            document.getElementById("form").style.display = "none";
            document.getElementById("video-container").style.display = "initial";
            document.getElementById("users-list").style.display = "inline-block";

            socket.addEventListener('message', function (event) {
                if (event["type"] == "guest_joined") {
                    SetData();
                }
                else if (event["type"] == "user_data") {
                    var userData = event["data"];
                    document.getElementById("users-list").innerHTML = "<h2 style='margin: 0;'>Current Users:</h2>";
                    userData.forEach(function(element) {
                        var emblem = "";
                        if (element["role"] == "host")
                            emblem = " <b>(Host)</b>";
                        document.getElementById("users-list").innerHTML += ("<br> - " + element["username"] + emblem);
                    });
                }
                else if (event["type"] == "guest_data") {

                    if (event["action"] == "play")
                        myVideo.play();
                    else if (event["action"] == "pause")
                        myVideo.pause();
                    else if (event["action"] == "seek")
                        myVideo.currentTime(event["timestamp"]);
                }
            });

            myVideo.on("play", SetData);
            myVideo.on("pause", SetData);
            myVideo.on("seeked", SetData);

            socket.send({"type":"join","role":"host","name":userName});

            SetData();
            var intervalID = window.setInterval(SetData, 10000);
        }

        function initVideo() {
            myVideo = videojs('my-video');
        }

        function SetData() {
            var dataToSet = JSON.stringify({
                PlayerTimestamp: myVideo.currentTime(),
                Paused: myVideo.paused()
            });

            socket.send({"type":"host_data","action":"set","data":dataToSet});
        }
    </script>

    <div class="body-container">
        <h1>Video.js WebSockets Freemode Host</h1>
        <a href="/">Return to Homepage</a>

        <br><br><br>

        <p>Note: If you close this tab or navigate to a different site, all other users will be disconnected from the session.</p>

        <div id="form">
            <input type="text" placeholder="Your Name" id="your_name" maxlength="20" oninput="if (this.value == '') { document.getElementById('btnStartSession').disabled = true; } else { document.getElementById('btnStartSession').disabled = false; } " />
            <button onclick="startSession();" id="btnStartSession" disable>Start Session</button>
        </div>

        <br><br>

    <table>
        <tr>
            <td style="padding-right: 75px;">
                <div id="video-container" style="display: none;">
                    <video
                        id="my-video"
                        class="video-js"
                        controls
                        preload="auto"
                        poster="MY_VIDEO_POSTER.jpg"
                        data-setup="{}"
                        >
                            <source src="static/MY_VIDEO.mp4" type="video/mp4" />
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a web browser that
                                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                    </video>
                </div>
            </td>

            <td>
                <div id="users-list" style="display: none; background-color: white; border: 2px solid black; border-radius: 7px; color: black; padding: 25px 45px 25px 25px; text-align: left; min-width: 300px;">Current Users:</div>
            </td>
        </tr>
    </table>
{% endblock %}
