    {% extends 'base.html' %}

{% block content %}

    <script src="static/scripts/video-player.js"></script>
    <script src="static/scripts/MessageHandler.js"></script>

    <div class="body-parent">
        <div class="body-container">
            <h1>Youtube-Sync Prototype: Video Player</h1>
            <a href="/">Return to Homepage</a>

            <br><br>

            <p id="session-loading" class="hidden"></p>
            <div id="session-loading-indicator" class="spinner-border text-light hidden" role="status"></div>
            <h2 id="session-ended" class="hidden"></h2>
            <p id="error-display" class="hidden error"></p>
            <br><button class="btn btn-info" style="display: none;" onclick="window.location = 'video-join-page';" id="return_after_error_button">Return to Join Page</button>
            <p id="host-notice" class="hidden">Warning: If you close this tab or navigate to a different site, all other users will be disconnected from the session.<br><br></p>
        </div>

        <div class="video-parent">
            <div class="video-child">
                <div id="video-container" class="hidden">
                    <video
                        id="my-video"
                        class="video-js"
                        controls
                        autoplay
                        preload="auto"
                        poster="MY_VIDEO_POSTER.jpg"
                        data-setup='{
                            "techOrder": ["youtube"],
                            "sources": [{
                                "type": "video/youtube",
                                "src": ""
                            }]
                        }'
                        >
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a web browser that
                                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                    </video>
                </div>

                <br><br>
            </div>
        </div>

        <div class="centeralign block">
            <table id="users-list-table">
                <tr>
                    <td>
                        <div id="users-list">
                            <b class="div-box-heading">Current Users:</b>
                            <select id="users-list-child" multiple></select>

                            <br><br>
                            <div id="host-user-control-buttons" class="hidden">
                                <button type="button" class="btn btn-success" onclick="PromoteToHost();">Make Selected User Host</button>
                                <button type="button" class="btn btn-danger" onclick="KickUser();">Kick Selected User from Session</button>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div id="chat-div">
                            <b class="div-box-heading">Chat:</b>
                            <select id="chat-box" multiple></select><br>
                            <input type="text" name="chat-type" id="chat-type" placeholder="Type a message" />
                            <br class="responsive-br">
                            <button onclick="sendChatMessage();" class="btn btn-primary">Send</button>
                            <div id="host-chat-control-buttons" class="hidden">
                                <button class="btn btn-danger" onclick="RemoveChatMessage();">Remove Selected Chat Message</button>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div id="video-controls-div">
                            <b class="div-box-heading">Video Controls:</b><br><br>
                            <p>
                                Change Video URL:<br>
                                <input type="text" id="new-url-type" placeholder="New Video URL" />
                                <button class="btn btn-primary" onclick="ChangeVideoURL();">Change Video URL</button>
                            </p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}