{% extends 'base.html' %}

{% block content %}

    <script src="static/video-player.js"></script>

    <div class="body-parent">
        <div class="body-container">
            <h1>Youtube-Sync Prototype: Video Player</h1>
            <a href="/">Return to Homepage</a>

            <br><br>

            <div id="form">
                <p class="leftalign">
                    <b>Instructions:</b><br>
                    - For video players to synchronize, each session must have a single host and one or more guest users. For synchronization purposes, everyone will sync with the host,
                    but any user can pause, resume, or skip throughout the video playback and these actions will affect everyone. The host also has the power to kick out users.
                    <br>
                    - To use the player, have one user select the "Host a New Session" option and then type in a name and click "Create Session". Then, have the other users select the "Join an Existing Session" option, type in a name, and click "Join Session". Anyone can pause, play, or skip throughout the video playback.
                </p>
            </div>

            <p id="creating-session" class="hidden"><br><br>Creating session, please wait...<br><br></p>
            <p id="joining-session" class="hidden"><br><br>Joining session, please wait...<br><br></p>
            <h2 id="session-ended" class="hidden"></h2>
            <p id="error-display" class="hidden error"></p>
            <br><button class="btn btn-info" style="display: none;" onclick="window.location = 'video-join-page';" id="return_after_error_button">Return to Join Page</button>
            <p id="host-notice" class="hidden">Warning: If you close this tab or navigate to a different site, all other users will be disconnected from the session.<br><br></p>
        </div>

        <div class="video-parent">
            <div class="video-child">
                <div id="video-container" class="hidden">
                    <video
                        id="my-video"
                        class="video-js"
                        controls
                        preload="auto"
                        poster="MY_VIDEO_POSTER.jpg"
                        data-setup='{
                            "techOrder": ["youtube"],
                            "sources": [{
                                "type": "video/youtube",
                                "src": ""
                            }]
                        }'
                        >
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a web browser that
                                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                    </video>
                </div>

                <br><br>
            </div>
        </div>

        <div class="centeralign block">
            <table id="users-list-table">
                <tr>
                    <td>
                        <div id="users-list">
                            <b class="div-box-heading">Current Users:</b>
                            <select id="users-list-child" multiple></select>

                            <br><br>
                            <div id="host-user-control-buttons" class="hidden">
                                <button type="button" class="btn btn-success" onclick="window.alert('Feature coming soon!');">Make Selected User Host</button>
                                <button type="button" class="btn btn-danger" onclick="KickUser();">Kick Selected User from Session</button>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div id="chat-div">
                            <b class="div-box-heading">Chat:</b>
                            <select id="chat-box" multiple></select><br>
                            <input type="text" name="chat-type" id="chat-type" placeholder="Type a message" />
                            <br class="responsive-br">
                            <button onclick="sendChatMessage();" class="btn btn-primary">Send</button>
                            <div id="host-chat-control-buttons" class="hidden">
                                <button class="btn btn-danger" onclick="socket.send({'type':'remove_chat_message','secret_key': secret_key, 'message_index': document.getElementById('chat-box').selectedIndex});">Remove Selected Chat Message</button>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div id="video-controls-div">
                            <b class="div-box-heading">Video Controls:</b><br><br>
                            <p>
                                Change Video URL:<br>
                                <input type="text" id="new-url-type" placeholder="New Video URL" />
                                <button class="btn btn-primary" onclick="ChangeVideoURL();">Change Video URL</button>
                            </p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}