@font-face {
    font-family: Roboto;
     src: url("../fonts/Roboto-Regular.ttf");
}

body {
    text-align: center;
    padding-top: 25px;
}

.small-text {
    font-size: 11px;
}

.video-js {
    width: 75vw;
    height: 75vh;

    margin-left: auto;
    margin-right: auto;
}

.form-control {
    margin-bottom: 5px;
}

.modal-body {
    text-align: left;
}

#createSessionSpinner {
    display: none;
}

.error-message {
    display: none;
    color: red;
}