@font-face {
    font-family: Roboto;
     src: url("../fonts/Roboto-Regular.ttf");
}

body {
    text-align: center;
    padding-top: 25px;
    overflow-y: auto !important;
    overflow-x: hidden;
}

.small-text {
    font-size: 11px;
}

.video-js {
    width: 100%;
    height: 58vh;

    margin-left: auto;
    margin-right: auto;
}

.form-control {
    margin-bottom: 5px;
}

.modal-body {
    text-align: left;
}

#createSessionSpinner {
    display: none;
}

.error-message {
    display: none;
    color: red;
}

.controls-container {
    width: 500px;
    height: 300px;

    border: 1px solid black;
    border-radius: 5px;

    margin: 15px;
    padding: 15px;

    display: inline-block;
    vertical-align: top;
}